<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ROD.FRS</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.basixindia.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>2525</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>frs@basixindia.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>Windows@7</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>for validating username  and password</description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>frs_cls.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/123</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RDsubmit</display-name>
    <servlet-name>RDsubmit</servlet-name>
    <servlet-class>frs_cls.RDsubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RDsubmit</servlet-name>
    <url-pattern>/RDsubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDetail</display-name>
    <servlet-name>EmpDetail</servlet-name>
    <servlet-class>frs_cls.EmpDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDetail</servlet-name>
    <url-pattern>/EmpDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FRSReports_servlet</display-name>
    <servlet-name>FRSReports_servlet</servlet-name>
    <servlet-class>frs_cls.FRSReports_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FRSReports_servlet</servlet-name>
    <url-pattern>/FRSReports_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uintsummary</display-name>
    <servlet-name>uintsummary</servlet-name>
    <servlet-class>frs_cls.uintsummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uintsummary</servlet-name>
    <url-pattern>/uintsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lsrsummary</display-name>
    <servlet-name>lsrsummary</servlet-name>
    <servlet-class>frs_cls.lsrsummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lsrsummary</servlet-name>
    <url-pattern>/lsrsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Homereports</display-name>
    <servlet-name>Homereports</servlet-name>
    <servlet-class>frs_cls.Homereports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homereports</servlet-name>
    <url-pattern>/Homereports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createuser</display-name>
    <servlet-name>createuser</servlet-name>
    <servlet-class>frs_cls.createuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createuser</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userlist</display-name>
    <servlet-name>userlist</servlet-name>
    <servlet-class>frs_cls.userlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlist</servlet-name>
    <url-pattern>/userlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateuser</display-name>
    <servlet-name>updateuser</servlet-name>
    <servlet-class>frs_cls.updateuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuser</display-name>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>frs_cls.deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>montotsummary</display-name>
    <servlet-name>montotsummary</servlet-name>
    <servlet-class>frs_cls.montotsummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>montotsummary</servlet-name>
    <url-pattern>/montotsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getuserList</display-name>
    <servlet-name>getuserList</servlet-name>
    <servlet-class>frs_cls.GetuserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getuserList</servlet-name>
    <url-pattern>/getuserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>unitmonthsummary</display-name>
    <servlet-name>unitmonthsummary</servlet-name>
    <servlet-class>frs_cls.unitmonthsummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unitmonthsummary</servlet-name>
    <url-pattern>/unitmonthsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lsrmonthsummary</display-name>
    <servlet-name>lsrmonthsummary</servlet-name>
    <servlet-class>frs_cls.lsrmonthsummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lsrmonthsummary</servlet-name>
    <url-pattern>/lsrmonthsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMSreceiver</display-name>
    <servlet-name>SMSreceiver</servlet-name>
    <servlet-class>smscls.SMSreceiver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSreceiver</servlet-name>
    <url-pattern>/SMSreceiver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>monthwisestatesummary</display-name>
    <servlet-name>monthwisestatesummary</servlet-name>
    <servlet-class>frs_cls.monthwisestatesummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthwisestatesummary</servlet-name>
    <url-pattern>/monthwisestatesummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifylsrdetails</display-name>
    <servlet-name>modifylsrdetails</servlet-name>
    <servlet-class>frs_cls.modifylsrdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifylsrdetails</servlet-name>
    <url-pattern>/modifylsrdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitdetails</display-name>
    <servlet-name>submitdetails</servlet-name>
    <servlet-class>frs_cls.submitdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitdetails</servlet-name>
    <url-pattern>/submitdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>monthwiseunitsummary</display-name>
    <servlet-name>monthwiseunitsummary</servlet-name>
    <servlet-class>frs_cls.monthwiseunitsummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthwiseunitsummary</servlet-name>
    <url-pattern>/monthwiseunitsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>monthwiselsrsummary</display-name>
    <servlet-name>monthwiselsrsummary</servlet-name>
    <servlet-class>frs_cls.monthwiselsrsummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthwiselsrsummary</servlet-name>
    <url-pattern>/monthwiselsrsummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log4jInit</display-name>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>frs_cls.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4jfile</param-name>
      <param-value>WEB-INF/classes/log4j.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4jInit</servlet-name>
    <url-pattern>/Log4jInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userlistUnit</display-name>
    <servlet-name>userlistUnit</servlet-name>
    <servlet-class>frs_cls.userlistUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlistUnit</servlet-name>
    <url-pattern>/userlistUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>montotsummaryUnit</display-name>
    <servlet-name>montotsummaryUnit</servlet-name>
    <servlet-class>frs_cls.montotsummaryUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>montotsummaryUnit</servlet-name>
    <url-pattern>/montotsummaryUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>totalsummaryUnit</display-name>
    <servlet-name>totalsummaryUnit</servlet-name>
    <servlet-class>frs_cls.totalsummaryUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>totalsummaryUnit</servlet-name>
    <url-pattern>/totalsummaryUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteuserUnit</display-name>
    <servlet-name>deleteuserUnit</servlet-name>
    <servlet-class>frs_cls.deleteuserUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuserUnit</servlet-name>
    <url-pattern>/deleteuserUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDetailUnit</display-name>
    <servlet-name>EmpDetailUnit</servlet-name>
    <servlet-class>frs_cls.EmpDetailUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDetailUnit</servlet-name>
    <url-pattern>/EmpDetailUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitdetailsUnit</display-name>
    <servlet-name>submitdetailsUnit</servlet-name>
    <servlet-class>frs_cls.submitdetailsUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitdetailsUnit</servlet-name>
    <url-pattern>/submitdetailsUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createHRDetails</display-name>
    <servlet-name>createHRDetails</servlet-name>
    <servlet-class>frs_cls.createHRDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createHRDetails</servlet-name>
    <url-pattern>/createHRDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showListArea</display-name>
    <servlet-name>showListArea</servlet-name>
    <servlet-class>frs_cls.showListArea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showListArea</servlet-name>
    <url-pattern>/showListArea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRuserlist</display-name>
    <servlet-name>HRuserlist</servlet-name>
    <servlet-class>frs_cls.HRuserlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRuserlist</servlet-name>
    <url-pattern>/HRuserlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createcompany</display-name>
    <servlet-name>Createcompany</servlet-name>
    <servlet-class>frs_cls.Createcompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createcompany</servlet-name>
    <url-pattern>/Createcompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCompany</display-name>
    <servlet-name>SaveCompany</servlet-name>
    <servlet-class>frs_cls.SaveCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCompany</servlet-name>
    <url-pattern>/SaveCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifycompany</display-name>
    <servlet-name>Modifycompany</servlet-name>
    <servlet-class>frs_cls.Modifycompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifycompany</servlet-name>
    <url-pattern>/Modifycompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>getuserupdate</display-name>
    <servlet-name>getuserupdate</servlet-name>
    <servlet-class>frs_cls.Getuserupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getuserupdate</servlet-name>
    <url-pattern>/getuserupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>sessioncheck</display-name>
    <servlet-name>sessioncheck</servlet-name>
    <servlet-class>frs_cls.Sessioncheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessioncheck</servlet-name>
    <url-pattern>/sessioncheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>scm</display-name>
    <servlet-name>scm</servlet-name>
    <servlet-class>frs_cls.Scm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scm</servlet-name>
    <url-pattern>/scm</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ucm</display-name>
    <servlet-name>ucm</servlet-name>
    <servlet-class>frs_cls.Ucm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ucm</servlet-name>
    <url-pattern>/ucm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sbm</display-name>
    <servlet-name>Sbm</servlet-name>
    <servlet-class>frs_cls.Sbm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sbm</servlet-name>
    <url-pattern>/sbm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ubm</display-name>
    <servlet-name>Ubm</servlet-name>
    <servlet-class>frs_cls.Ubm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ubm</servlet-name>
    <url-pattern>/ubm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ubsflm</display-name>
    <servlet-name>Ubsflm</servlet-name>
    <servlet-class>frs_cls.Ubsflm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ubsflm</servlet-name>
    <url-pattern>/ubsflm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sgradem</display-name>
    <servlet-name>Sgradem</servlet-name>
    <servlet-class>frs_cls.Sgradem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sgradem</servlet-name>
    <url-pattern>/sgradem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ugradem</display-name>
    <servlet-name>Ugradem</servlet-name>
    <servlet-class>frs_cls.Ugradem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ugradem</servlet-name>
    <url-pattern>/ugradem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uh_connect</display-name>
    <servlet-name>uh_connect</servlet-name>
    <servlet-class>frs_cls.uh_connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uh_connect</servlet-name>
    <url-pattern>/uh_connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>msr</display-name>
    <servlet-name>msr</servlet-name>
    <servlet-class>frs_cls.msr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msr</servlet-name>
    <url-pattern>/msr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUHDetails</display-name>
    <servlet-name>GetUHDetails</servlet-name>
    <servlet-class>frs_cls.GetUHDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUHDetails</servlet-name>
    <url-pattern>/GetUHDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UHMail</display-name>
    <servlet-name>UHMail</servlet-name>
    <servlet-class>autoMail.UHMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UHMail</servlet-name>
    <url-pattern>/UHMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sbm</display-name>
    <servlet-name>sbm</servlet-name>
    <servlet-class>frs_cls.Sbm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sbm</servlet-name>
    <url-pattern>/sbm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ubm</display-name>
    <servlet-name>ubm</servlet-name>
    <servlet-class>frs_cls.Ubm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ubm</servlet-name>
    <url-pattern>/ubm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ubsflm</servlet-name>
    <servlet-class>frs_cls.Ubsflm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ubsflm</servlet-name>
    <url-pattern>/ubsflm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sgradem</display-name>
    <servlet-name>sgradem</servlet-name>
    <servlet-class>frs_cls.Sgradem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sgradem</servlet-name>
    <url-pattern>/sgradem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ugradem</display-name>
    <servlet-name>ugradem</servlet-name>
    <servlet-class>frs_cls.Ugradem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ugradem</servlet-name>
    <url-pattern>/ugradem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scitym</display-name>
    <servlet-name>scitym</servlet-name>
    <servlet-class>frs_cls.Scitym</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scitym</servlet-name>
    <url-pattern>/scitym</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ucitym</display-name>
    <servlet-name>ucitym</servlet-name>
    <servlet-class>frs_cls.Ucitym</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ucitym</servlet-name>
    <url-pattern>/ucitym</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sstatem</display-name>
    <servlet-name>sstatem</servlet-name>
    <servlet-class>frs_cls.Sstatem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sstatem</servlet-name>
    <url-pattern>/sstatem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ustatem</display-name>
    <servlet-name>ustatem</servlet-name>
    <servlet-class>frs_cls.Ustatem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ustatem</servlet-name>
    <url-pattern>/ustatem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scountrym</display-name>
    <servlet-name>scountrym</servlet-name>
    <servlet-class>frs_cls.Scountrym</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scountrym</servlet-name>
    <url-pattern>/scountrym</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ucountrym</display-name>
    <servlet-name>ucountrym</servlet-name>
    <servlet-class>frs_cls.Ucountrym</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ucountrym</servlet-name>
    <url-pattern>/ucountrym</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>shm</display-name>
    <servlet-name>shm</servlet-name>
    <servlet-class>frs_cls.Shm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shm</servlet-name>
    <url-pattern>/shm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uhm</display-name>
    <servlet-name>uhm</servlet-name>
    <servlet-class>frs_cls.Uhm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uhm</servlet-name>
    <url-pattern>/uhm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sbsflm</display-name>
    <servlet-name>Sbsflm</servlet-name>
    <servlet-class>frs_cls.Sbsflm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sbsflm</servlet-name>
    <url-pattern>/sbsflm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suhlogm</display-name>
    <servlet-name>suhlogm</servlet-name>
    <servlet-class>frs_cls.Suhlogm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suhlogm</servlet-name>
    <url-pattern>/suhlogm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Svillagem</display-name>
    <servlet-name>Svillagem</servlet-name>
    <servlet-class>frs_cls.Svillagem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Svillagem</servlet-name>
    <url-pattern>/Svillagem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uvillagem</display-name>
    <servlet-name>Uvillagem</servlet-name>
    <servlet-class>frs_cls.Uvillagem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uvillagem</servlet-name>
    <url-pattern>/Uvillagem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uuhlogm</display-name>
    <servlet-name>uuhlogm</servlet-name>
    <servlet-class>frs_cls.Uuhlogm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uuhlogm</servlet-name>
    <url-pattern>/uuhlogm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uhconnupdate</display-name>
    <servlet-name>uhconnupdate</servlet-name>
    <servlet-class>frs_cls.uhconnupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uhconnupdate</servlet-name>
    <url-pattern>/uhconnupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actcat</display-name>
    <servlet-name>actcat</servlet-name>
    <servlet-class>frs_cls.actcat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actcat</servlet-name>
    <url-pattern>/actcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>activity</display-name>
    <servlet-name>activity</servlet-name>
    <servlet-class>frs_cls.activity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activity</servlet-name>
    <url-pattern>/activity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actvityupdate</display-name>
    <servlet-name>actvityupdate</servlet-name>
    <servlet-class>frs_cls.actvityupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actvityupdate</servlet-name>
    <url-pattern>/actvityupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actcatupdate</display-name>
    <servlet-name>actcatupdate</servlet-name>
    <servlet-class>frs_cls.actcatupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actcatupdate</servlet-name>
    <url-pattern>/actcatupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sassignrole</display-name>
    <servlet-name>sassignrole</servlet-name>
    <servlet-class>frs_cls.Sassignrole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sassignrole</servlet-name>
    <url-pattern>/sassignrole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uassignrole</display-name>
    <servlet-name>uassignrole</servlet-name>
    <servlet-class>frs_cls.uassignrole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uassignrole</servlet-name>
    <url-pattern>/uassignrole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchangePwdm</display-name>
    <servlet-name>SchangePwdm</servlet-name>
    <servlet-class>frs_cls.SchangePwdm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchangePwdm</servlet-name>
    <url-pattern>/schangePwdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LSRDWSummaryReport</display-name>
    <servlet-name>LSRDWSummaryReport</servlet-name>
    <servlet-class>frs_cls.LSRDWSummaryReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LSRDWSummaryReport</servlet-name>
    <url-pattern>/lSRDWSummaryReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestingServlet</display-name>
    <servlet-name>TestingServlet</servlet-name>
    <servlet-class>frs_cls.TestingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestingServlet</servlet-name>
    <url-pattern>/TestingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recovery</display-name>
    <servlet-name>Recovery</servlet-name>
    <servlet-class>frs_cls.Recovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recovery</servlet-name>
    <url-pattern>/Recovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSMS</display-name>
    <servlet-name>TestSMS</servlet-name>
    <servlet-class>test.TestSMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSMS</servlet-name>
    <url-pattern>/TestSMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMStoODCustomer</display-name>
    <servlet-name>SMStoODCustomer</servlet-name>
    <servlet-class>smscls.SMStoODCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMStoODCustomer</servlet-name>
    <url-pattern>/SMStoODCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMSCountconfirm</display-name>
    <servlet-name>SMSCountconfirm</servlet-name>
    <servlet-class>smscls.SMSCountconfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSCountconfirm</servlet-name>
    <url-pattern>/SMSCountconfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pleasewait1</display-name>
    <servlet-name>Pleasewait1</servlet-name>
    <servlet-class>smscls.Pleasewait1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pleasewait1</servlet-name>
    <url-pattern>/Pleasewait1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CsvPleasewait</display-name>
    <servlet-name>CsvPleasewait</servlet-name>
    <servlet-class>smscls.CsvPleasewait</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsvPleasewait</servlet-name>
    <url-pattern>/CsvPleasewait</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pleasewait2</display-name>
    <servlet-name>Pleasewait2</servlet-name>
    <servlet-class>smscls.Pleasewait2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pleasewait2</servlet-name>
    <url-pattern>/Pleasewait2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMStoCustArea</display-name>
    <servlet-name>SMStoCustArea</servlet-name>
    <servlet-class>smscls.SMStoCustArea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMStoCustArea</servlet-name>
    <url-pattern>/SMStoCustArea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>swartarget</display-name>
    <servlet-name>swartarget</servlet-name>
    <servlet-class>frs_cls.swartarget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>swartarget</servlet-name>
    <url-pattern>/swartarget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uwartarget</display-name>
    <servlet-name>uwartarget</servlet-name>
    <servlet-class>frs_cls.uwartarget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uwartarget</servlet-name>
    <url-pattern>/uwartarget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSVUpload</display-name>
    <servlet-name>CSVUpload</servlet-name>
    <servlet-class>frs_cls.CSVUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSVUpload</servlet-name>
    <url-pattern>/CSVUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test1</display-name>
    <servlet-name>test1</servlet-name>
    <servlet-class>test.test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test1</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>unittransfer</display-name>
    <servlet-name>unittransfer</servlet-name>
    <servlet-class>frs_cls.unittransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unittransfer</servlet-name>
    <url-pattern>/unittransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>swarRemarks</display-name>
    <servlet-name>swarRemarks</servlet-name>
    <servlet-class>frs_cls.swarRemarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>swarRemarks</servlet-name>
    <url-pattern>/swarRemarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uwarRemarks</display-name>
    <servlet-name>uwarRemarks</servlet-name>
    <servlet-class>frs_cls.uwarRemarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uwarRemarks</servlet-name>
    <url-pattern>/uwarRemarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>targetpod_pw</display-name>
    <servlet-name>targetpod_pw</servlet-name>
    <servlet-class>targetpod_pw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>targetpod_pw</servlet-name>
    <url-pattern>/targetpod_pw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Targetpod_Upload</display-name>
    <servlet-name>Targetpod_Upload</servlet-name>
    <servlet-class>frs_cls.Targetpod_Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Targetpod_Upload</servlet-name>
    <url-pattern>/Targetpod_Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>unit</display-name>
    <servlet-name>unit</servlet-name>
    <servlet-class>frs_cls.unit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unit</servlet-name>
    <url-pattern>/unit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Stationarymaster</display-name>
    <servlet-name>Stationarymaster</servlet-name>
    <servlet-class>frs_cls.Stationarymaster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stationarymaster</servlet-name>
    <url-pattern>/Stationarymaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockEntry</display-name>
    <servlet-name>StockEntry</servlet-name>
    <servlet-class>frs_cls.StockEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockEntry</servlet-name>
    <url-pattern>/StockEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issueindent</display-name>
    <servlet-name>Issueindent</servlet-name>
    <servlet-class>frs_cls.Issueindent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issueindent</servlet-name>
    <url-pattern>/Issueindent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUnit</display-name>
    <servlet-name>UpdateUnit</servlet-name>
    <servlet-class>frs_cls.UpdateUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUnit</servlet-name>
    <url-pattern>/UpdateUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitUpdate</display-name>
    <servlet-name>UnitUpdate</servlet-name>
    <servlet-class>frs_cls.UnitUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitUpdate</servlet-name>
    <url-pattern>/UnitUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockUpdate</display-name>
    <servlet-name>StockUpdate</servlet-name>
    <servlet-class>frs_cls.StockUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockUpdate</servlet-name>
    <url-pattern>/StockUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sstatm</display-name>
    <servlet-name>sstatm</servlet-name>
    <servlet-class>frs_cls.sstatm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sstatm</servlet-name>
    <url-pattern>/sstatm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ustatm</display-name>
    <servlet-name>ustatm</servlet-name>
    <servlet-class>frs_cls.ustatm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ustatm</servlet-name>
    <url-pattern>/ustatm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issue</display-name>
    <servlet-name>Issue</servlet-name>
    <servlet-class>frs_cls.Issue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issue</servlet-name>
    <url-pattern>/Issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issue33</display-name>
    <servlet-name>Issue33</servlet-name>
    <servlet-class>frs_cls.Issue33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issue33</servlet-name>
    <url-pattern>/Issue33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>frs_cls.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitRep</display-name>
    <servlet-name>UnitRep</servlet-name>
    <servlet-class>frs_cls.UnitRep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitRep</servlet-name>
    <url-pattern>/UnitRep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitReports</display-name>
    <servlet-name>UnitReports</servlet-name>
    <servlet-class>frs_cls.UnitReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitReports</servlet-name>
    <url-pattern>/UnitReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultipleStock</display-name>
    <servlet-name>MultipleStock</servlet-name>
    <servlet-class>frs_cls.MultipleStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultipleStock</servlet-name>
    <url-pattern>/MultipleStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>frs_cls.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Actual</display-name>
    <servlet-name>Actual</servlet-name>
    <servlet-class>frs_cls.Actual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Actual</servlet-name>
    <url-pattern>/Actual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Workplan</display-name>
    <servlet-name>Workplan</servlet-name>
    <servlet-class>frs_cls.Workplan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Workplan</servlet-name>
    <url-pattern>/Workplan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateHeadActivity</display-name>
    <servlet-name>StateHeadActivity</servlet-name>
    <servlet-class>frs_cls.StateHeadActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateHeadActivity</servlet-name>
    <url-pattern>/StateHeadActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualNew</display-name>
    <servlet-name>ActualNew</servlet-name>
    <servlet-class>frs_cls.ActualNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualNew</servlet-name>
    <url-pattern>/ActualNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkPlanNew</display-name>
    <servlet-name>WorkPlanNew</servlet-name>
    <servlet-class>frs_cls.WorkPlanNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkPlanNew</servlet-name>
    <url-pattern>/WorkPlanNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStationary</display-name>
    <servlet-name>UpdateStationary</servlet-name>
    <servlet-class>frs_cls.UpdateStationary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStationary</servlet-name>
    <url-pattern>/UpdateStationary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkplan</display-name>
    <servlet-name>UpdateWorkplan</servlet-name>
    <servlet-class>frs_cls.UpdateWorkplan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkplan</servlet-name>
    <url-pattern>/UpdateWorkplan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateActualwork</display-name>
    <servlet-name>UpdateActualwork</servlet-name>
    <servlet-class>frs_cls.UpdateActualwork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateActualwork</servlet-name>
    <url-pattern>/UpdateActualwork</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateActualnew</display-name>
    <servlet-name>UpdateActualnew</servlet-name>
    <servlet-class>frs_cls.UpdateActualnew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateActualnew</servlet-name>
    <url-pattern>/UpdateActualnew</url-pattern>
  </servlet-mapping>
</web-app>